flow 5.json
[
    {
        "id": "7f56031dd318cf16",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89f528c3fd124833",
        "type": "http request",
        "z": "7f56031dd318cf16",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.613627&lon=-99.093537&exclude=hourly,daily&appid=82c1663b7cefbdb52b88552df651510d&units=metric ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "3ba2d405fc8fa383"
            ]
        ]
    },
    {
        "id": "3ba2d405fc8fa383",
        "type": "json",
        "z": "7f56031dd318cf16",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "cbf034706c957626",
                "e55d990ed67964b9",
                "94362c0f0f566605"
            ]
        ]
    },
    {
        "id": "2ac121e0c6f552ff",
        "type": "inject",
        "z": "7f56031dd318cf16",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "89f528c3fd124833",
                "1718a55e8f2fbecb"
            ]
        ]
    },
    {
        "id": "cbf034706c957626",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set(\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 60,
        "wires": [
            [
                "e2d6e89839538456"
            ]
        ]
    },
    {
        "id": "e2d6e89839538456",
        "type": "ui_gauge",
        "z": "7f56031dd318cf16",
        "name": "",
        "group": "7ba1143cae7a1c65",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0094ce",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "14",
        "seg2": "26",
        "className": "",
        "x": 990,
        "y": 60,
        "wires": []
    },
    {
        "id": "4129554a46e0eab4",
        "type": "ui_gauge",
        "z": "7f56031dd318cf16",
        "name": "",
        "group": "7ba1143cae7a1c65",
        "order": 9,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "45",
        "seg2": "60",
        "className": "",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "e55d990ed67964b9",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity\nglobal.set(\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 140,
        "wires": [
            [
                "4129554a46e0eab4"
            ]
        ]
    },
    {
        "id": "cb1b8bd6e09fb167",
        "type": "mqtt in",
        "z": "7f56031dd318cf16",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "52a2bd9bb2b70f26",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "a7a1ea2c1718d9d0"
            ]
        ]
    },
    {
        "id": "a7a1ea2c1718d9d0",
        "type": "json",
        "z": "7f56031dd318cf16",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "41a240fe2ce61cbc",
                "38623ddb9ebbad52",
                "27181aafbea08f12",
                "c4e299ea05ce61a1"
            ]
        ]
    },
    {
        "id": "41a240fe2ce61cbc",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "64f727b82ca1734c"
            ]
        ]
    },
    {
        "id": "64f727b82ca1734c",
        "type": "ui_chart",
        "z": "7f56031dd318cf16",
        "name": "",
        "group": "f205f9a598f87d23",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#75507b",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "38623ddb9ebbad52",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            [
                "cd93761fead81aed"
            ]
        ]
    },
    {
        "id": "cd93761fead81aed",
        "type": "ui_chart",
        "z": "7f56031dd318cf16",
        "name": "",
        "group": "f205f9a598f87d23",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6ceb5d04554ba890",
        "type": "inject",
        "z": "7f56031dd318cf16",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "17a90b05cb4d1cea",
                "8fa57360ff25d126"
            ]
        ]
    },
    {
        "id": "17a90b05cb4d1cea",
        "type": "debug",
        "z": "7f56031dd318cf16",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 880,
        "wires": []
    },
    {
        "id": "eccb77c28c139341",
        "type": "mqtt out",
        "z": "7f56031dd318cf16",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e35d23e5bdd3e3e1",
        "x": 620,
        "y": 800,
        "wires": []
    },
    {
        "id": "210d5af0b8316436",
        "type": "comment",
        "z": "7f56031dd318cf16",
        "name": "Solicitud API",
        "info": "",
        "x": 90,
        "y": 20,
        "wires": []
    },
    {
        "id": "37f9782286af10ba",
        "type": "comment",
        "z": "7f56031dd318cf16",
        "name": "Información general",
        "info": "",
        "x": 110,
        "y": 360,
        "wires": []
    },
    {
        "id": "137f8239c8b82bc8",
        "type": "comment",
        "z": "7f56031dd318cf16",
        "name": "Enviador",
        "info": "",
        "x": 100,
        "y": 740,
        "wires": []
    },
    {
        "id": "94362c0f0f566605",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "uvi",
        "func": "msg.payload = msg.payload.current.uvi\nglobal.set(\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 240,
        "wires": [
            [
                "4f19620c4105a4c2"
            ]
        ]
    },
    {
        "id": "4f19620c4105a4c2",
        "type": "ui_gauge",
        "z": "7f56031dd318cf16",
        "name": "",
        "group": "7ba1143cae7a1c65",
        "order": 5,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "uvi",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "8",
        "className": "",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "27181aafbea08f12",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "uvi",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 620,
        "wires": [
            [
                "5e6dad0c7adaf29a"
            ]
        ]
    },
    {
        "id": "5e6dad0c7adaf29a",
        "type": "ui_chart",
        "z": "7f56031dd318cf16",
        "name": "",
        "group": "f205f9a598f87d23",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "uvi",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "1718a55e8f2fbecb",
        "type": "http request",
        "z": "7f56031dd318cf16",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.613627&lon=-99.093537&appid=82c1663b7cefbdb52b88552df651510d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "948dc97240f313b1"
            ]
        ]
    },
    {
        "id": "948dc97240f313b1",
        "type": "json",
        "z": "7f56031dd318cf16",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "c5d0cce41d0e703a"
            ]
        ]
    },
    {
        "id": "c5d0cce41d0e703a",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "Calidad de aire",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqi\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [
            [
                "dc4f517600b96612"
            ]
        ]
    },
    {
        "id": "dc4f517600b96612",
        "type": "ui_gauge",
        "z": "7f56031dd318cf16",
        "name": "",
        "group": "7ba1143cae7a1c65",
        "order": 13,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Calidad de aire",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "4",
        "className": "",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "c4e299ea05ce61a1",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "Calidad del aire",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "407a43de07ef0158"
            ]
        ]
    },
    {
        "id": "407a43de07ef0158",
        "type": "ui_chart",
        "z": "7f56031dd318cf16",
        "name": "",
        "group": "f205f9a598f87d23",
        "order": 4,
        "width": 12,
        "height": 6,
        "label": "aqi",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "8fa57360ff25d126",
        "type": "function",
        "z": "7f56031dd318cf16",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Omar_ab\",\"temp\":' + global.get (\"tempFlow5\") + ',\"hum\":' + global.get (\"humFlow5\") + ',\"uv\":' + global.get (\"uvFlow5\") + ',\"aqi\":' + global.get (\"aqi\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 800,
        "wires": [
            [
                "eccb77c28c139341"
            ]
        ]
    },
    {
        "id": "99d13e1b80afb844",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "491b275db692dcc7",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f0d829a3c34bce9c",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d5136e6f0f8586da",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ab08043099b239a",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "67c09f0b8b5f3c5a",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "ce64c0e0de44c460",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "1f6ad58581de8243",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "58e6b491940d717d",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f5dadf9a905cf9b",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "64f4f84cc243c933",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "07250c6f070ec42c",
        "type": "ui_spacer",
        "z": "7f56031dd318cf16",
        "name": "spacer",
        "group": "7ba1143cae7a1c65",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ba1143cae7a1c65",
        "type": "ui_group",
        "name": "Personal",
        "tab": "67cd7e7546b0d308",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "52a2bd9bb2b70f26",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f205f9a598f87d23",
        "type": "ui_group",
        "name": "General",
        "tab": "67cd7e7546b0d308",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e35d23e5bdd3e3e1",
        "type": "mqtt-broker",
        "name": "Broker Hivel MQ G7",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "67cd7e7546b0d308",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]